
  <div class="row">
      
    <form class="col s12" action="login.php" method="POST" enctype="multipart/form-data">
      <div class="row">
          <div class="input-field col s12">
          <?php if (isset($_SESSION["error"]) != ""): ?>
              
            <div class="card-panel">
              <span class="red-text text-darken-2"><?=$_SESSION["error"] ?></span>
            </div>
              
          <?php endif; ?>
        </div>
        <div class="input-field col s6">            
            <i class="material-icons prefix">account_circle</i>
          <input id="nombre" name="nombre" type="text" class="validate" >
          <label for="nombre" style = "color: white">Nombre(s)</label>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
          <input id="apellido" name="apellido" type="text" class="validate">
          <label for="apellido" style = "color: white">Apellido</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
           <i class="material-icons prefix">vpn_key</i> 
          <input id="password" name="password" type="password" class="validate" >
          <label for="password" style = "color: white">Contraseña</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">phone</i> 
          <input id="tel" name="tel" type="tel" class="validate" >
          <label for="tel" style = "color: white">Teléfono</label>
        </div>
 
      </div>
        
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
  </div>

<section>
                
    <h2> Preguntas a responder </h2>
                
        <article>             
            <h3 id ="1">
                ¿Por qué es una buena práctica separar el modelo del controlador?
            </h3>
                    
            <p>
                Una de las principales razones es para poder reutilizar el código, si haces un buen modelo y un buen controlador, esas partes de código se pueden pasar facilmente de programa en programa. 
            </p>
            
            <h3 id ="1">
                ¿Qué es SQL injection y cómo se puede prevenir?
            </h3>
                    
            <p>
                Es un ataque a la base de datos en donde un usuario obtiene acceso a la misma y modifica la estructura. Cuando meten código SQL para modificar de cualquier forma la base de datos. 
                Tener solo un usuario que pueda modificar la estructura de la base de datos 
            </p>

        </article>
    
</section>

<section>
                
    <h2>Referencias</h2>
                
    <strong> <a href="#1">[1]</a> </strong>
        "URL." Internet:
    <a href=http://idesweb.es/proyecto/proyecto-prac09-php-cookies-sesiones>
        http://idesweb.es/proyecto/proyecto-prac09-php-cookies-sesiones
    </a>, 22/03/2005 [Febrero 26, 2018]. <br>
                
</section>
